[submodule "deps/libcbuf"]
	path = deps/libcbuf
	url = https://github.com/joyent/libcbuf.git
[submodule "deps/illumos-list"]
	path = deps/illumos-list
	url = https://github.com/joyent/illumos-list.git
